/* .MobHeaderContainer{
    display:none;
} */

.textContainer {
  display: flex;
  align-items: center;
  gap: clamp(6px, 1vw, 12px);

  /* padding-left: clamp(12px, 4vw, 32px);
  padding-right: clamp(12px, 4vw, 32px); */
  padding: clamp(16px, 3vw, 30px) clamp(16px, 3vw, 30px) clamp(12px, 4vw, 32px);
}

.text {
  font-size: clamp(16px, 2vw, 24px);
  margin: 0;
  margin-left: clamp(4px, 1vw, 8px);
}
.backIcon {
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* Make SVG responsive */
.backIcon svg {
  width: clamp(8px, 2vw, 12px);
  height: clamp(12px, 2.5vw, 18px);
}
/* Mobile Header */
/* @media (max-width: 768px) {
  .MobHeaderContainer {
    position: sticky;
    top: 0;
    left: 0;

    width: clamp(45px, 8vw, 60px);
    height: clamp(45px, 8vw, 60px);

    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: clamp(10px, 10vw, 20px);
    padding-right: clamp(10px, 3vw, 20px);
    z-index: 1000;
  }
} */