
html, body {
  font-family: 'Poppins' ;
  font-display: swap;
  margin: 0px;
}
/* p{
  margin: 0px;
} */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="text"],
textarea {
  text-transform: capitalize;
}

button {
  background: none;       /* remove background */
  border: none;           /* remove border */
  padding: 0;             /* remove default padding */
  margin: 0;              /* remove default margin */
  font: inherit;          /* inherit font styles from parent */
  color: inherit;         /* inherit text color */
  cursor: pointer;        /* keep pointer on hover */
  outline: none;          /* remove default focus outline */
}

:root {
  --primary-orange: #F5790C;
  --secondary-orange: #FCDDC2;
  --primary-blue: #1FBFC2;
  --background-color:#fff; 
  --primary-black:#131313;
scrollbar-width: none;
  /* Note: If you want to override the value, update it here only once */
  --header-background-color: #F9FAFC; /* header background color */

  --secondary-blue: rgba(31, 191, 194, 0.10);
  --header-text-color:#131313;
  --header-secondary-text-color:#727271;
  --underline-color:#EFEFEF; 
  --icon-background-color:#F5790C1A; 
  
  /* Add more as needed */
}