
html, body {
  font-family: 'Poppins' ;
  font-display: swap;
  margin: 0px;
}
/* p{
  margin: 0px;
} */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="text"],
textarea {
  text-transform: capitalize;
}


/* html, body {
  overflow: hidden; 
} */



body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}